.loginWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #caa67d;
}

.loginContainer {
	background-color: #fff;
	height: 400px;
	padding: 2rem;
	width: 400px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.form-group {
	margin-bottom: 2rem;
	background-color: aqua;
}

h2,
h3 {
	font-family: 'QuickSand-SemiBold';
}

h3:last-of-type {
	margin-bottom: 1rem;
}

button[type='submit'] {
	width: 100%;
	background-color: #caa67d;
	border: 0;
	margin-top: auto;
}

button[type='submit']:hover {
	width: 100%;
	background-color: #caa67d;
}

.buttonGroup {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.buttonGroup button[type='submit'] {
	margin-bottom: 0.5rem;
}

.buttonGroup > div {
	display: flex;
	width: 100%;
}

.buttonGroup button {
	width: 100%;
}
.buttonGroup button:first-child {
	margin-right: 0.5rem;
}
