.registerWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #caa67d;
}

.registerContainer {
	background-color: #fff;
	height: 400px;
	padding: 2rem;
	width: 400px;
}

h3:last-of-type {
	margin-bottom: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.buttonGroup {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.buttonGroup button:first-of-type {
	margin-bottom: 0.5rem;
}
