@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'QuickSand-Normal', Avenir, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::selection {
	color: white;
	background-color: #caa67d;
}

body {
	background-color: #d7d8da;
}

.featureWrapper:nth-child(even) .imageContainer {
	margin-right: 2rem;
}

.featureWrapper:nth-child(odd) .imageContainer {
	margin-left: 2rem;
}

.featureWrapper:nth-child(even) .imageContainer > img {
	box-shadow: 10px 10px 0 1px #f6e4d4;
	-webkit-box-shadow: 10px 10px 0 1px #a76f3b;
	-moz-box-shadow: 10px 10px 0 1px #a76f3b;
}

.featureWrapper:nth-child(odd) .imageContainer > img {
	box-shadow: -10px 10px 0 1px #a76f3b;
	-webkit-box-shadow: -10px 10px 0 1px #a76f3b;
	-moz-box-shadow: -10px 10px 0 1px #a76f3b;
}

.featureWrapper:nth-child(odd) {
	flex-direction: row-reverse;
}

.featureWrapper:nth-child(odd) h3,
.featureWrapper:nth-child(odd) p {
	text-align: right;
}
