.coverPageWrapper {
	position: relative;
}

.coverPageImg {
	z-index: -1;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.coverContent {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100%;
	padding: 4rem;
}

.coverContent h1 {
	font-family: 'QuickSand-SemiBold';
	font-size: 4rem;
}

.coverContent p {
	font-family: 'QuickSand-Normal';
	font-size: 2rem;
	max-width: 320px;
	line-height: 1.1;
}

.browseButton {
	width: 225px;
	height: 50px;
}
