.featureSection {
	display: flex;
	gap: 10;
	flex-direction: column;
	margin: 0 auto;
	max-width: 768px;
}

.productHeading {
	font-family: 'Quicksand-Semibold';
	font-size: 2.5rem;
	letter-spacing: 0.15ch;
	text-align: center;
	margin: 3.25rem 0;
}

.imageContainer {
	width: 800px;
}

.imageContainer img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.featureWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 6rem;
}

.featureContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.featureContainer h3 {
	font-family: 'Quicksand-Semibold';
	font-size: 2.75rem;
	letter-spacing: 0.1ch;
}

.featureContainer p {
	font-family: 'Quicksand-Normal';
	font-size: 1.25em;
	color: #5d5d5d;
}

.featureWrapper:nth-child(even) .imageContainer {
	margin-right: 2rem;
}
.featureWrapper:nth-child(odd) .imageContainer {
	margin-left: 2rem;
}

.featureWrapper:nth-child(even) .imageContainer > img {
	box-shadow: 10px 10px 0px 1px rgba(167, 111, 59, 1);
	-webkit-box-shadow: 10px 10px 0px 1px rgba(167, 111, 59, 1);
	-moz-box-shadow: 10px 10px 0px 1px rgba(167, 111, 59, 1);
}

.featureWrapper:nth-child(odd) .imageContainer > img {
	box-shadow: -10px 10px 0px 1px rgba(167, 111, 59, 1);
	-webkit-box-shadow: -10px 10px 0px 1px rgba(167, 111, 59, 1);
	-moz-box-shadow: -10px 10px 0px 1px rgba(167, 111, 59, 1);
}

.featureWrapper:nth-child(odd) {
	flex-direction: row-reverse;
}

.featureWrapper:nth-child(odd) h3,
.featureWrapper:nth-child(odd) p {
	text-align: right;
}
